.container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer{
    background-color: #222;
    color: white;
    border-color: #080808;
}

.demo{
    padding-top: 15px;
    padding-bottom: 15px;
}

.ads_right{
    width: 200px;
    height: 500px;
    float: right;
    background-color: red;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 0px;
}



@media only screen and (max-width : 981px) {

    .ads_right{
        display: none;
    }
}